.divider {
  width: 64px;
  height: 6px;
  border-radius: 10px;
  background-color: #fff;
  background: linear-gradient(270deg, #13adc7 0%, #945dd6 100%);
  margin-top: 24px;
  display: block;
}

.box {
  border-radius: 12px;
  background-color: #212d45;
  margin-top: 32px;
  width: 25%;
  padding: 48px 24px;
}

.boxTitle {
  font-weight: bold;
  font-size: 36px;
  color: #fff;
}

.sectionAchievements {
  display: flex;
  flex-direction: column;
}

.sectionAchievements > div {
  display: flex;
  gap: 32px;
}

.sectionTechnologies > div {
  display: flex;
  width: 100%;
  gap: 8px;
  justify-content: space-between;
  margin-top: 64px;
}

.sectionTechnologies > div > div {
  display: flex;
  flex-direction: column;
  width: 30%;
  gap: 4px;
}

.sectionTechnologies > div > div > svg {
  fill: #fff;
  font-size: 28px;
}

.sectionTechnologies > div > div > h3 {
  color: #fff;
  font-size: 24px;
}

.contactNumber,
.contactEmail {
  font-size: 18px;
  display: block;
  color: #bfc0c4;
}

@media (max-width: 1024px) {
  .box {
    width: 32%;
  }

  .boxSubTitle {
    font-size: 18px;
  }
}

@media (max-width: 800px) {
  .box {
    width: 33%;
  }

  .boxSubTitle {
    font-size: 16px;
  }
}

@media (max-width: 640px) {
  .box {
    padding: 24px 12px;
  }

  .contactNumber,
  .contactEmail {
    font-size: 16px;
  }
}

@media (max-width: 540px) {
  .boxSubTitle {
    font-size: 14px;
  }

  .contactNumber,
  .contactEmail {
    font-size: 14px;
  }
}

@media (max-width: 500px) {
  .sectionTechnologies > div {
    flex-wrap: wrap;
    justify-content: center;
  }

  .sectionTechnologies > div > div {
    width: 45%;
  }

  .sectionTechnologies > div > div:last-child {
    margin-top: 36px;
  }

  .sectionAchievements > div {
    flex-wrap: wrap;
    justify-content: center;
  }

  .box {
    width: 45%;
  }

  .contactNumber,
  .contactEmail {
    font-size: 12px;
  }
}
